:host {
    position: absolute;
    top: 20px;
    left: 32px;
    right: 32px;
    bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: border-color .2s ease-in-out;
    border: 1px dashed rgba(229,230,241,.25);
    border-radius: 5px;
    padding: 20px;
}