@mixin  box($width, $height, $padding: null, $border: null, $margin: null) {
    width: $width;
    height: $height;
    padding: $padding;
    border: $border;
    margin: $margin;
}

@mixin flexLayout($dirction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $dirction;
    flex-wrap: $wrap;
}
@mixin  flexLayoutAlign($justify: flex-start, $align-items: flex-start) {
    justify-content: $justify;
    align-items: $align-items;
}

@mixin position($p: relative, $top: null, $r: null, $bottom: null, $l: null) {
    position: $p;
    top: $top;
    right: $r;
    bottom: $bottom;
    left: $l;
}